.contenidor-fotos {
  overflow: auto;
  img {
    margin: 5px;
    width: 150px;
    height: auto;
  }
}

@media (max-height: 414px) {
  .contenidor-fotos {
    height: 80vh;
  }
}

@media (min-height: 415px) and (max-height: 720px) {
  .contenidor-fotos {
    height: 62vh;
  }
}

@media (min-height: 721px) and (max-height: 922px) {
  .contenidor-fotos {
    height: 69vh;
  }
}

@media (min-height: 923px) {
  .contenidor-fotos {
    height: 80vh;
  }
}
